# .gitignore for Terraform

.terraform

tfplan

# Local .terraform directories
**/.terraform/*

**/deploy_images_to_acr.sh

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform variable files containing sensitive data
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# SSH key files
*.pem
*.key

# Sensitive files
*.p12
*.jks
*.keyfile

# Terraform plan files
*.tfplan

# Command history files
.terraformrc
.terraform.rc

# Lock files
*.lock.hcl

# Ignore temporary files created by text editors
*.swp
*.swo
*.bak
*.tmp



# Ansible
# Ignore local .retry files
*.retry

# Ignore Ansible log files
*.log

# Ignore fact cache files
.ansible/

# Ignore ansible roles directory
roles/

# Ignore ansible collections directory
collections/

# Ignore generated inventories
*.ini

# Ignore Python virtual environment
venv/





# Ignore MacOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db